<app-playlist-details
 *ngIf="selected$ | async as selected else noData"
 [playlist]="selected" (edit)="edit()">
</app-playlist-details>

<ng-template #noData>
  <p>Please select playlist</p>
</ng-template>

