<div class="card">


  <div class="card-header" (click)="toggle()">
    {{title}}
  </div>
  
  <div class="collapse" [class.show]="open">
    <div class="card-body">
  
      <ng-content></ng-content>
  
    </div>
  </div>
</div>
