<form #formRef="ngForm" (ngSubmit)="onSave(formRef.value)">
  
  <app-card>
    <div class="form-group">
      <label>Name:</label>
      <input
        type="text"
        class="form-control"
        [ngModel]="playlist.name"
        name="name"
        #nameRef="ngModel"
      />

      <span> {{ 170 - nameRef.value?.length }} / 170 </span>
    </div>

    <div class="form-group">
      <label>Favorite:</label>
      <input type="checkbox" [ngModel]="playlist.favorite" name="favorite" />
    </div>

    <div class="form-group">
      <label>Color:</label>
      <input type="color" [ngModel]="playlist.color" name="color" />
    </div>

    <ng-container ngProjectAs="footer">
      <input type="button" value="Cancel" (click)="onCancel()" />
      <input type="submit" value="Save" />
    </ng-container>

  </app-card>
  
</form>