<div class="row">
  <div class="col">
    <h1>{{ album.name }}</h1>

    <app-album-card [album]="album"></app-album-card>
  </div>
  <div class="col">
    <button type="button" (click)="showTracks()">Show Tracks</button>
    <div class="tracks-list" *ngIf="tracksVisible">
      
      <audio *ngIf="currentTrack" [src]="currentTrack?.preview_url" controls></audio>

      <div class="list-group">
        <div
          class="list-group-item"
          (click)="currentTrack = track"
          *ngFor="let track of album.tracks.items"
        >
          {{ track.name }}
        </div>
      </div>
    </div>
  </div>
</div>
