
<!-- https://getbootstrap.com/docs/4.3/components/card/#card-groups -->

<!-- {{random() | date:'HH:mm:SS'}} -->

<div class="card-group">
  <app-album-card class="card" 
      [album]="item"
      [routerLink]="['/music',item.id]"
      *ngFor="let item of results">
  </app-album-card>
</div>
