<!-- 
.row>.col*2
 -->

<div class="row">
  <div class="col">
    <app-items-list
      [items]="playlists$ | async"
      [selected]="selected$ | async"
      (selectedChange)="select( $event.id )"
    >
    </app-items-list>
  </div>

  <div class="col">
    <router-outlet></router-outlet>



   <!--  <div [ngSwitch]="mode" 
      *ngIf="selected$ | async as selected">
      <app-playlist-details
        *ngSwitchDefault
        [playlist]="selected"
        (edit)="edit()"
      >
      </app-playlist-details>

      <app-playlist-form
        *ngSwitchCase="'edit'" 
        [playlist]="selected"
        (cancel)="cancel()"
        (save)="save($event)"
      >
      </app-playlist-form>
    </div>
    <p *ngIf="!selected">Please select playlist</p> -->
  </div>
</div>
