
<ul class="nav nav-tabs">
  
  <li class="nav-item"
    *ngFor="let tab of tabs">
    <a class="nav-link" 
    
    [class.active]="active === tab"
    (click)="toggle(tab)">
      {{tab.title}}
    </a>
  </li>
  
</ul>
