<app-card>
  <ng-container ngProjectAs="title"> 
    {{ playlist.name }} placki! 
  </ng-container>

  <dl [title]="playlist.name" [attr.data-id]="playlist.id">
    <dt>Name:</dt>
    <dd>{{ playlist.name }}</dd>

    <dt>Favourite:</dt>
    <dd [style.font-size.px]="40 / 2">
      {{ playlist.favorite ? "Yes" : "No" }}
    </dd>

    <dt>Color:</dt>
    <dd
      [ngStyle]="{
        backgroundColor: playlist.color,
        color: playlist.color
      }"
    >
      {{ playlist.color }}
    </dd>
  </dl>
  
  <ng-container ngProjectAs="footer">
    <input type="button" value="Edit" (click)="onEdit()" class="btn btn-info" />
  </ng-container>



</app-card>
